
.mainPhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.thumbnails img
{
    width: 20%;
    padding: 1px;
}

.thumbnails img:hover
{
    border: 1px solid yellow;
}

.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.selectImage{
    display: flex;
    justify-content: center;
}

